header,header select{
    background-color:#7E33E0;
    color:#F1F1F1;
    font-family: 'Josefin Sans', sans-serif;
}


.logo, {
    font-family: Josefin Sans;
    color:#0D0E43;
}
nav select, nav a{
    font-family: 'Josefin Sans', sans-serif; 
    color: #0D0E43; 
}
.search-btn,.contactBtn,.addCart,footer button{
    background-color: #FB2E86;
}

.img-wrapper{
    background-color:#F6F7FB;
}
.viewDetail-btn{
    background-color:#08D15F;
}
.swiper-pagination-bullet{
    background-color: red;
    border: 3px solid black;

}
.swiper-pagination-bullet-active{
    background-color:red;
    border: 3px  solid pink;
    
}
.pagination{
    display:flex;
    float:right;
    margin-top:50px;
}
.page-item.active .page-link{
    z-index: 3;
    color: #fff !important  ;
    background-color: #00ACD6 !important;
    border-color: #00ACD6 !important;
    border-radius: 50%;
    padding: 6px 12px;
}
.page-link{
    z-index: 3;
    color: #00ACD6 !important;
    background-color: #fff;
    border-color: #007bff;
    border-radius: 50%;
    padding: 6px 12px !important;
}
.page-item:first-child .page-link{
    border-radius: 30% !important;
}
.page-item:last-child .page-link{
    border-radius: 30% !important;   
}
.pagination li{
    padding: 3px;
}
.disabled .page-link{
    color: #212529 !important;
    opacity: 0.5 !important;
}


footer,.shop-list{
    background-color:#EEEFFB;
}
footer h1{
    font-family:Josefin Sans;
}
footer ul,.search-result{
    color:#8A8FB9;
}
footer ul>li{
    font-family: Lato;
}

h1,h2,.fa-th-large,.fa-list{
    color:#151875;
}

.fa-shopping-cart.two ,.fa-heart.two,.fa-search-plus{
    color: #535399;
}

.aboutUsImg{
    border-left: 15px solid #2B3CAB;
    border-radius: 6px;
    border-bottom: 15px solid #2B3CAB;  
}

.bg-prod{
    background-color:#F6F7FB;
}
.fa-circle{
    font-sze:45px;
}

.indicator-title{
    color:#101750;
}
.indicator-page{
    color:#FB2E86
}
.prod-title{
    color: #151875;
}
.fa-star{
    font-size: 13px;
}

@media (min-width: 1280px) {
    .aboutUsImg{ 
        width: 555px;
    }
}